{% extends "livres/base.html" %}
{% load static %}

{% block title %}Bienvenu aux livres{% endblock title %}



{% block header %}
    {% include 'livres/common_header.html' %}
{% endblock header %}

{% block content %}
    <form action="{% url 'livres:reqnouvlivre' %}" method="get">
        <button type="submit">Ajout Livre</button>
    </form>
    {% if latest_created_livre_list %}
        Les livres les plus r&eacute;cents dans le syst&egrave;me. Bient&ocirc;t la recherche sera disponible :-)
        <table class="table table-striped table-hover">
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Auteur(s)</th>
                <th scope="col">Status</th>
                <th scope="col">Code Couverture</th>
                <th scope="col">Ville</th>
                <th scope="col">Je poss&egrave;de</th>
                <th scope="col">J'ai cr&eacute;&eacute;</th>
                <th scope="col">Date ajout</th>
                <th scope="col">Date Edition</th>
                <th scope="col">Actions</th>
            </tr>
            {% for livre in latest_created_livre_list %}
                <tr>
                <td> {% if livre.possesseur == user %}<a href="{% url 'livres:reqeditlivre' livre.id %}">{% endif %}
                    {{ livre.titre_text }}
                    {% if livre.possesseur == user %}</a>{% endif %}
                </td>
                <td>{{ livre.auteur_text }}</td>
                <td>{{ livre.transferable_status }} </td>
                <td>{{ livre.livre_code }} </td>
                <td>{{ livre.possesseur.userprofile.ville }} </td>
                <td>{% if livre.possesseur == user %}<strong>Oui</strong> {% else %}<strong>Non</strong> {% endif %}
                </td>
                <td>{% if livre.createur == user %}<strong>Oui</strong> {% else %}<strong>Non</strong> {% endif %} </td>
                <td>{{ livre.creation_date |date:"d M Y" }}</td>
                <td>{{ livre.publication_date|date:"d M Y" }}</td>
                <td>
                    {% if livre.possesseur != user and livre.transferable_status != 'PERD' %}
                        {% if  livre not in livres_avec_transfert_actif_pour_user %}
                            <form action="/livres/demandetransfert/{{ livre.id }}/" method="get">
                                <button type="submit">Je suis int&eacute;ress&eacute;</button>
                                <br></form>
                        {% else %}
                            Transfert d&eacute;j&agrave; demand&eacute;
                            {# Todo: trouver comment afficher la date de creation du transfert. Pour l<instant, je n<y arrive pas.#}
                            {#                    le {{ livres_avec_transfert_actif_pour_user|get_key:livre }}#}
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        </table>
    {% else %}
        <p>Pas de livre disponible.</p>
    {% endif %}

    <!-- Button trigger modal -->
    {#    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">#}
    {#        Launch demo modal#}
    {#    </button>#}
    {% if showNewLivreCode %}
        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Action a faire sur votre nouveau livre</h4>
                    </div>
                    <div class="modal-body">
                        <p>Vous venez d'enregistrer le livre '{{ newLivre.titre_text }}', c'est super </p>
                        <p>pour nous aider à suivre le livre, pourriez vous inscrire ce code '{{ newLivre.livre_code }}'
                            sur la
                            couverture </p>
                        <p>Merci pour votre partage.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
{% endblock content %}

{% block footer_scripts %}
    {% if showNewLivreCode %}
        <script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });

        </script>
    {% endif %}
{% endblock %}


