{% extends "livres/base.html" %}
{% load static %}

{% block title %}Bienvenu aux livres{% endblock title %}

{% block header %}
    {% include 'livres/common_header.html' %}
{% endblock header %}

{% block content %}

    {% if showSuccessMessage %}
        <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succ&egrave;s!</strong> {{ showSuccessMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

    <div class="container">

        <form action="{% url 'livres:index' %}" method="post" id="searchform" name="searchform">
            {% csrf_token %}
            <input type="hidden" name="cherchelivre" value="true"/>
        </form>

        <div class="d-flex flex-row bd-highlight align-items-center mb-3">
            <div class="p-2 bd-highlight">
                <form action="{% url 'livres:reqnouvlivre' %}" method="get">
                    <button class="btn btn-primary btn-default" type="submit">Ajout Livre</button>
                </form>
            </div>

            <div class="p-2 bd-highlight">
                <div class="search"><i class="fa fa-search"></i>
                    <div class="btn-group">
                        <input id="searchinput" name="searchinput" type="search" class="form-control" form="searchform"
                               placeholder="chercher par titre, auteur, mots sujets..."
                               value="{{ livreSearchCriteria.searchinput }}">
                    </div>
                    <button id="searchbutton" class="btn btn-primary">
                        <span class="bi bi-search" aria-hidden="true"></span></button>
                </div>
            </div>
            <div class="p-2 bd-highlight">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="meslivres" id="meslivres" name="livrePossession"
                           form="searchform"
                            {% if livreSearchCriteria.livrepossession == "meslivres" %} checked {% endif %} >
                    <label class="form-check-label" for="meslivres">
                        mes livres
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="lesautres" id="lesautres" name="livrePossession"
                           form="searchform"
                            {% if livreSearchCriteria.livrepossession == "lesautres" %} checked {% endif %} >
                    <label class="form-check-label" for="lesautres">
                        les autres livres
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="tous" id="tous" name="livrePossession"
                           form="searchform"
                            {% if livreSearchCriteria.livrepossession == "tous" %} checked {% endif %} >
                    <label class="form-check-label" for="tous">
                        tous les livres
                    </label>
                </div>
            </div>


            <div class="p-2 bd-highlight">
                <div class="d-flex flex-column bd-highlight mb-2">
                    <div class="p-2 bd-highlight">
                        <input type="text" name="dateEditionInputAfter" id="dateEditionInputAfter" form="searchform"
                               placeholder="jj/mm/yyyy" size="6" value="{{ livreSearchCriteria.dateEditionAfter }}">
                        publication
                        <input type="text" name="dateEditionInputBefore" id="dateEditionInputBefore" form="searchform"
                               placeholder="jj/mm/yyyy" size="6" value="{{ livreSearchCriteria.dateEditionBefore }}">
                    </div>
                    <div class="p-2 bd-highlight">
                        <input type="text" name="dateCreationInputAfter" id="dateCreationInputAfter" form="searchform"
                               placeholder="jj/mm/yyyy" size="6" value="{{ livreSearchCriteria.dateCreationAfter }}">
                        ajout
                        <input type="text" name="dateCreationInputBefore" id="dateCreationInputBefore" form="searchform"
                               placeholder="jj/mm/yyyy" size="6" value="{{ livreSearchCriteria.dateCreationBefore }}">
                    </div>
                </div>
            </div>

            <div class="p-2 bd-highlight">
{#                <label class="form-label">Catégories du livre:</label>#}
                <select class="form-select" multiple size="3" id="categories" name="categories" form="searchform">
                    {% for category in livreSearchCriteria.sortedselectedCategoriesList %}
                        <option value="{{ category.0 }}" selected>{{ category.1 }}</option>
                    {% endfor %}
                    {% for category in livreSearchCriteria.sortedRemainingCategoriesList %}
                        <option value="{{ category.0 }}">{{ category.1 }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>

    {% if latest_created_livre_list %}
        <table class="table table-striped table-hover">
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Auteur(s)</th>
                <th scope="col"></th> {# destiner aux liens de recherche comme duckduckgo - empty column header expres pour sauver espace #}
                <th scope="col">Partage</th>
                <th scope="col">Code Couverture</th>
                <th scope="col">Ville</th>
                <th scope="col">Je poss&egrave;de</th>
                <th scope="col">J'ai cr&eacute;&eacute;</th>
                <th scope="col">Date ajout</th>
                <th scope="col">Date Publication</th>
                <th scope="col">Actions</th>
            </tr>
            {% for livre in latest_created_livre_list %}
                <tr>
                <td> {% if livre.possesseur == user %}<a href="{% url 'livres:reqeditlivre' livre.id %}">{% endif %}
                    <span class="label label-primary">{{ livre.titre_text }}</span>
                    {% if livre.possesseur == user %}</a>{% endif %}
                </td>
                <td>{{ livre.auteur_text }}</td>
                <td><a href="https://duckduckgo.com/?q={{ livre.titre_text|urlencode }}" target="_blank"><img src="{% static 'livres/faviconduckduckgo.ico' %}" width="20" height="20"/></a></td>
                <td>{{ livre.mode_partage }} </td>
                <td>{{ livre.livre_code }} </td>
                <td>{{ livre.possesseur.userprofile.ville }} </td>
                <td>{% if livre.possesseur == user %}<strong>Oui</strong> {% else %}<strong>Non</strong> {% endif %}
                </td>
                <td>{% if livre.createur == user %}<strong>Oui</strong> {% else %}<strong>Non</strong> {% endif %} </td>
                <td>{{ livre.creation_date |date:"d M Y" }}</td>
                <td>{{ livre.publication_date|date:"d M Y" }}</td>
                <td>
                    {% if livre.possesseur != user and livre.transferable_status != 'PERD' %}
                        {# le createur d<un livre en mode PRET ne peut pas initier une demande de transfert. Il passera par ne demande de retour  #}
                        {% if livre.mode_partage == 'DON' or livre.createur != user %}
                            {% if livre not in livres_avec_transfert_actif_pour_user %}
                                <form action="/livres/demandetransfert/{{ livre.id }}/" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-primary btn-default" type="submit">Je suis int&eacute;ress&eacute;</button>
                                    <br>
                                </form>
                            {% else %}
                                Transfert d&eacute;j&agrave; demand&eacute;
                                {# Todo: trouver comment afficher la date de creation du transfert. Pour l<instant, je n<y arrive pas.#}
                                {#                    le {{ livres_avec_transfert_actif_pour_user|get_key:livre }}#}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        </table>
    {% else %}
        <p>Pas de livre disponible.</p>
    {% endif %}

    <!-- Button trigger modal -->
    {#    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">#}
    {#        Launch demo modal#}
    {#    </button>#}
    {% if showNewLivreCode %}
        <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true"
             data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Action a faire sur votre nouveau livre</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Vous venez d'enregistrer le livre '{{ newLivre.titre_text }}', c'est super </p>
                        <p>pour nous aider à suivre le livre, pourriez vous inscrire ce code '{{ newLivre.livre_code }}'
                            sur la
                            couverture </p>
                        <p>Merci pour votre partage.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block footer_scripts %}
    <script type="text/javascript">

    $("#searchbutton").click(function(){
        $("#searchform").submit();
    });

    {% if showNewLivreCode %}
    window.onload = () => {
        $('#messageModal').modal('show');
    }

    {% endif %}

















    </script>
{% endblock %}


