{% extends "livres/base.html" %}
{% load static %}

{% block title %}{% if action == 'creation' %}Creation{% else %}Modifier {% endif %} livre {% endblock title %}

{% block header %}
    {% include 'livres/common_header.html' %}
{% endblock header %}

{% block content %}
    <style media="screen">

        #dateEditionClear {
            position: absolute;
            right: 5px;
            top: 0;
            bottom: 0;
            height: 14px;
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            color: #ccc;
        }
    </style>


    {% if action == 'creation' %}
        <form action="{% url 'livres:subnouvlivre' %}" method="post">
    {% else %}
        <form action="{% url 'livres:subeditlivre' %}" method="post">
    {% endif %}
{% csrf_token %}
<fieldset>
    <legend><h1>{% if action == 'creation' %}Creation{% else %}Modifier {% endif %} livre</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <input type="hidden" name="livre_id" value="{{ livre.id }}">
    <div>Titre: <input type="text" name="titre" id="titre" value="{{ livre.titre_text }}"></div>
    <div>Auteur(s): <input type="text" name="auteur" id="auteur" value="{{ livre.auteur_text }}"></div>
    {% if action != 'creation' %}
        <div>Code de couverture: {{ livre.livre_code }}</div>
    {% endif %}
    <div class="btn-group">
        Date d'&eacutedition:<input type="text" name="dateEditionInput" id="dateEditionInput" placeholder="jj/mm/yyyy"
                                    value='{{ livre.publication_date|date:"d M Y"|default_if_none:"" }}'>
        <span id="dateEditionClear" class="bi bi-x-circle"></span>
    </div>
    <div>Page web d'info: <input type="text" name="pageweb" id="pageweb" value="{{ livre.url_externe_livre_text }}">
    </div>
    <div>Mode de partage du livre
        <select name="mode_partage">
            <option value="DON" {% if action != 'creation' and livre.mode_partage == 'DON' %}selected {% endif %}
                    selected>Don
            </option>
            <option value="PRET" {% if action != 'creation' and livre.mode_partage == 'PRET' %}selected {% endif %}
                    selected>Prêt
            </option>
        </select>
    </div>3 mots sujets: <input type="text" name="motssujets" id="motssujets" value="{{ livre.mots_sujets_txt }}">
    <div></div>
</fieldset>
<button class="btn btn-primary btn-default" type="submit">Enregistrer</button>

</form>

{% endblock content %}

{% block footer_scripts %}
    <script type="text/javascript">
    $("#dateEditionClear").click(function(){
        $("#dateEditionInput").val('');
    });



    </script>
{% endblock %}