{% extends "livres/base.html" %}
{% load static %}

{% block title %}Livres que je dois retourner{% endblock title %}



{% block header %}
    {% include 'livres/common_header.html' %}
{% endblock header %}

{% block content %}
    {% if showSuccessMessage %}
        <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succ&egrave;s!</strong> {{ showSuccessMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

     <legend><h3>Livres que je dois retourner</h3></legend>

    {% if livres_list %}
        <table class="table table-striped table-hover">
            <tr>
{#                <th scope="col">Transfert ID (tmp)</th>#}
                <th scope="col">Titre</th>
                <th scope="col">Propriétaire</th>
                <th scope="col">email</th>
                <th scope="col">Ville</th>
                <th scope="col">Possède depuis</th>
                <th scope="col">Actions</th>
            </tr>
            {% for livre in livres_list %}
                <tr>
                <td>{{ livre.titre_text }}</td>
                <td>{{ livre.createur.first_name }} {{ livre.createur.last_name }}  </td>
                <td>{{ livre.createur.email }} </td>
                <td>{{ livre.createur.userprofile.ville }} </td>
                <td>{{ livre.possede_depuis_date }} </td>
                <td>
{#                A finaliser, car si demande de retour faite, indiquer la date et cacher le bouton#}
                    <form action="#" method="post">{% csrf_token %}
                        <button class="btn btn-primary btn-default" type="submit">Livre retourné
                        </button>
                    </form>
                </td>
            {% endfor %}
            </tr>
        </table>
    {% else %}
        <p>Pas de livre à retourner.</p>
    {% endif %}
{% endblock content %}


