{% extends "livres/base.html" %}
{% load static %}

{% block title %}Transferts{% endblock title %}



{% block header %}
    {% include 'livres/common_header.html' %}
{% endblock header %}

{% block content %}
       {% if showSuccessMessage %}
        <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Succ&egrave;s!</strong> {{ showSuccessMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

    <h3>Demandes de transfert de mes livres</h3>

    {% if transferts_list %}
        <table class="table table-striped table-hover">
            <tr>
{#                <th scope="col">Transfert ID (tmp)</th>#}
                <th scope="col">Titre</th>
                <th scope="col">Date de creation</th>
                <th scope="col">Demandeur</th>
                <th scope="col">Actions</th>
            </tr>
            {% for transfert in transferts_list %}
                <tr>
{#                <td>{{ transfert.id }}</td>#}
                <td>{{ transfert.livre.titre_text }}</td>
                <td>{{ transfert.creation_date }} </td>
                <td>{{ transfert.demandeur.first_name }} {{ transfert.demandeur.last_name }}
                    <br/>de {{ transfert.demandeur.userprofile.ville }}
{#                    <br/>email: {{ transfert.demandeur.email }}#}
                </td>
                <td> <!-- afficher les actions-->
                    {% if transfert.transfert_status == 'INIT' %}
                        {% if transfert.possesseur_envois_message_date %}
                            Message envoy&eacute le: {{ transfert.possesseur_envois_message_date }} à "{{ transfert.demandeur.email }}"
                        {% else %}
                            <form action="/livres/sendmessagetoinittransfert/{{ transfert.id }}/"
                                  method="post">{% csrf_token %}
                                <button class="btn btn-primary btn-default" type="submit">Envoyer message pour pr&eacute;parer
                                    &eacutechange
                                </button>
                                <br></form>
                        {% endif %}
                        <form action="/livres/livretransmis/{{ transfert.id }}/" method="post">{% csrf_token %}
                            <button class="btn btn-primary btn-default" type="submit">Le livre a &eacutet&eacute
                                transf&eacuter&eacute
                            </button>
                            <br>
                        </form>
                    {% endif %}
                    {% if transfert.transfert_status == 'OKPO' %}
                        Livre transféré le {{ transfert.ok_possesseur_date }} mais pas encore confirmé!
                        <br/>Contact: "{{ transfert.demandeur.email }}"
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        </table>
    {% else %}
        <p>Pas de transfert.</p>
    {% endif %}
{% endblock content %}


